
.headerSection{
    /* background: linear-gradient(293.15deg, #e5e2e7, #ffffff);  */
   /* backdrop-filter: blur(10px); */
  height: 15vh;
}  
/* Portfolio heading section */
.portfolioSection{
    background-color: white;
    width: 100%;
    height: 30vh;
    padding: 1rem;
}
/*  portfolio heading line   */
.head2hr{
    border: none;
    height: 10px; /* Adjust thickness as needed */
    width: 100%;
    background-image: linear-gradient(90deg, #760bcb, #1e7dfa);
    margin-top: 8px; 
} 
/* main heading  second section */
.head1Port{
    font-size: 3rem;
    font-weight: 640;
    line-height: 1;
    /* margin-left: 50px; */
}
/*  paragraph experiene main div */
.flex-container {
    display: flex;
    align-items: flex-end;
    justify-content: end;
   
  }      /* child div */ 
  .portParaCol{
    box-shadow: inset 0 0 20px 1px #fff, inset 0 0 20px 1px rgba(118, 11, 203, .2), inset 0 0 20px 1px rgba(30, 125, 250, .2);
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    
  }
  
/*  */

/*  paragraph project 1.5 years */
.portfolioPara{
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 1.2;
    
}
/* span for colors all*/
.head1SpanPort{
    background: -webkit-linear-gradient(90deg, #760bcb,#1e7dfa);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
}
/*  animated number 50 + span */
.SpanPort50{
  background: -webkit-linear-gradient(90deg, #760bcb,#1e7dfa);
  -webkit-background-clip: text;
  background-clip: none;
  -webkit-text-fill-color: transparent;
  font-size: 3rem;
  font-weight: bold;

}

/* ///////////        third projects Section                      //////////////////////////////// */
/* .head2Development{
 color: rgba(51, 126, 61, 0.832)
} */
.developmentSection{
  box-shadow: rgb(255, 255, 255) 0px 0px 100px 10px inset, rgba(150, 149, 149, 0.2) 0px 0px 30px 0px inset, rgba(105, 105, 105, 0.2) 0px 0px 30px 0px inset;
  border-top-left-radius: 80px;
  border-bottom-left-radius: 80px;
  padding: 1rem 0rem;
  padding-left: 2rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}




/* ///////////        media queries                     //////////////////////////////// */

@media (max-width: 768px) {
  .logoImage {
    width: 8rem;
    margin-left: 0;
  }


  
}

@media (max-width: 576px) {
  .head1Port{
    font-size: 2rem;
    padding: 15px;
    font-weight: 600;
    line-height: 1;
    /* margin-left: 50px; */
}

  
}
