.services {
  position: relative;
  background-color: #4D198A;
  color: white;
  padding-left: 30px;
}

.service-image {
  width: 100%;
  height: auto;
}

h1 {
  margin-left: 50px; 
}

.service-heading {
  font-size: 1.6rem;
  font-weight: bold;
  margin-left: 30px;
  margin-top: 20px;
  padding-top: 20px;
  margin-bottom: 30px;
}

.service-text {
  font-size: 1.3rem;
  margin-bottom: 20px;
  margin-left: 35px;
}

.left-arrow-fixed,
.right-arrow-fixed {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  color: #fff;
  font-size: 2.5rem;
  font-weight: bold;
  cursor: pointer;
  z-index: 10;
}

.left-arrow-fixed {
  left: 20px;
}

.right-arrow-fixed {
  right: 20px;
}

.get-in-touch-btn {
  background-color: #4D198A;
  color: #fff;
  border: 2px solid #fff;
  padding: 15px 30px;
  border-radius: 50px;
  font-size: 1.2rem;
  cursor: pointer;
  font-weight: bold;
  margin-left: 10px;
}

.get-in-touch-btn:hover {
  background-color: white;
  color: #4D198A;
  border: #ccc;
}
.dot-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.dot {
  height: 10px;
  width: 10px;
  margin: 0 5px;
  background-color: whitesmoke ;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s;
}

.dot.active {
  background-color: gray; 
}


