/* Logo Styling */
.logoImage {
    width: 10rem;
    background: transparent;
    border: none;
    margin-left: -50px;
  }
  
  /* Navbar Styling */ 
  .portblogHeader{
    background: transparent;
    position: absolute;
    top: 0;
    width: 100%;
    height: 15vh;
    z-index: 10;
    color: white;
    transition: background 0.3s ease-in-out;
  }
  
 /* Frosted Glass Effect on Hover */
   .portblogHeader:hover {
    background: rgb(255, 255, 255);
    backdrop-filter: blur(10px);
  }
  
  .navbarBackground{
    background-color: #e5e2e7;
    /* padding: 0.2rem; */
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 30px 1px inset;
    text-transform: uppercase;
    gap: 2.5rem;
  }

  .navLinks{
    font-size: 18px;
  }
 
  .portblognavbarButton {
    position: relative;
  /* padding: 10px 30px; */
  font-size: 18px;
  font-weight: bold;

  background: linear-gradient(90deg, #760bcb, #1e7dfa);
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent; 
  


  
  border: 2px solid transparent;
  box-shadow: 0 0 0 3px #760bcb;
  border-radius: 50px;
  transition: all 0.4s ease; 
}
    

  
  .portblognavbarButton:hover {
    color: #fff; /* White text on hover */
  background: linear-gradient(90deg, #760bcb, #1e7dfa);
  -webkit-text-fill-color: #fff; /* Text fill color to white */
  box-shadow: 0 0 0 0px #ffffff;
  }
  
  /* Responsive Adjustments */
  @media (max-width: 768px) {
    .logoImage {
      width: 8rem;
      margin-left: 0;
    }
  
    .portblogHeader {
      position: relative;
      background: black;
      color: white;
      padding: 10px 0;
      height: auto;
    }
  
    .portblogHeader:hover {
      background: rgba(0, 0, 0, 0.9);
      color: white;
    }

    .navbarBackground{
        /* background-color: #e5e2e7;
        padding: 0.5rem; */
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        background: rgba(0, 0, 0, 0.9);

      }
  
    .navbarLinks {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }
  
    .navLinks {
      color: white !important;
    }
  }
  
  @media (max-width: 576px) {
    .logoImage {
      width: 6rem;
    }
  
    .navbarLinks {
      gap: 0.3rem;
    }
  }
  